<div class="jumbotron">
  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @post.body %>
  </p>
    <% if @post.comments.present? %>
      <p>
        <strong>Comments: <%=@post.comments.count%></strong>
      </p>
      <% @post.comments.each do |comment| %>
      <p><%= comment.comment %></p>
      <p>By <%= comment.user.email %></p>
      <hr>
      <% end %>
    <% end %>
  <%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <p>
    <%= form.text_area :comment, placeholder:'Add Comments' %>
  </p>
  <p>
    <%= form.number_field :post_id, value: @post.id, type: :hidden %>
    <%= form.number_field :user_id, value: current_user.id, type: :hidden %>
    <%= form.submit 'Add', class:'btn btn-primary btn-sm' %>
  </p>
  <% end %>

  <div class="mt-4">
    <%= link_to 'Edit', edit_post_path(@post), class:'btn btn-warning btn-sm' %> |
    <%= link_to 'Back', posts_path, class:'btn btn-primary btn-sm' %>
  </div>
</div>